body {
  background-color: hsl(180, 52%, 96%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  background-color: hsl(180, 29%, 50%);
}

header img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  background-color: rgb(225, 240, 243);
  padding: 20px;
  margin: -30px 30px 0 30px;
  width: 78%;
  border-radius: 5px;
}

.offer {
  display: flex;
  margin: 30px;
  width: 80%;
  border-left: teal solid 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.compLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: start;
}
.companyInfo {
  display: flex;
  align-items: center;
}
.company,
.new,
.featured {
  margin: 10px;
}

.company {
  color: teal;
  font-weight: bold;
}

.position {
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

.position:hover {
  color: teal;
}
.languages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.lang,
.skills {
  border-radius: 5px;
  background-color: hsl(180, 31%, 95%);
  margin: 10px;
  padding: 5px;
  color: teal;
  font-weight: bold;
}

.lang:hover,
.skills:hover {
  background-color: teal;
  color: white;
}

.contractInfo {
  display: flex;
  padding: 10px;
}

.new,
.featured {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}
.new {
  background-color: teal;
}
.noDot {
  padding-left: 0;
  list-style: none;
}
.dotted {
  padding-left: 12px;
}
